h2 {
    color: purple;
}
h3 {
    color: purple;
}
h1 {
    font-family: "Times New Roman", Times, serif;
}
a {
    text-decoration: none;
}
a:hover {
text-decoration: underline;
color: orange;
}